/*.form{
float: right;
	margin-right: 1.4em;
    margin-top: 1em;

	padding-bottom:1em;
}*/

.ftr{float:right;}
.ftc{
background: url(../img/ftc.png) 0 0 repeat-x;
float:right;
height:53px;
}
.ftl{float:right;}
.fcr{
background: url(../img/fcr.png) 0 0 repeat-y;
float:right;
background-position:right top;
width:4px;
}
.fcc{float:right;}
.fcl{
background: url(../img/fcl.png) 0 0 repeat-y;
float:right;
background-position:left top;
width:4px;
}
.fbr{float:right;}
.fbc{
background: url(../img/fbc.png) 0 0 repeat-x;
float:right;
height:57px;
}
.fbl{float:right;}