*	{
margin: 0;
padding: 0;
}

body {
	background: #F3F4F4;	
	font: 11px Arial, Helvetica, sans-serif;
/*	height:100%; */
	behavior: url("csshover.htc");
}

.title {
	background:#E5EDF5;
/*	color:#0C86C9; */
	color:#002EEB;
	padding-left:1em;
	padding-right:1em;
	font-size:14px;
}
	
h1	{
	font-size: 18; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color:blue;
	position:relative;
	width:auto;
}

h2	{
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
}

h3	{
	font-size: 14px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	background:#002EEB;
	height:28px;
	border:1px solid #D3D3D4;
	color:white;
	padding-left:3px;
	padding-top:5px;
}

h4	{
	font-size: 14; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;	
}

h5	{
	font-size: 12; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;	
}


h6	{
	font-size: 9; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #BABEB7;	
}
table 	{
	  font-size:11px; Arial, Helvetica, sans-serif;
	  font-family: Arial, Helvetica, sans-serif;
	  border: 0px;	
}

th	{
	font-size: 16; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;
}

#wrapper {
	position: relative;
	background: #ffffff;	
	width: 990px;
	_width: 950px;
	margin: 0 auto;
	padding:0px; 
}

/*-------------------------------------HEADER--------------------------------*/
.headerA {
	position: relative;
	left:0;
	top:0;
	background:white;
	z-index: 0;
	height:97px;
	max-height:97px;
	background:url('../img/logoright.png');
	backgrdound-repeat:repeat-x;
}

#logo {
	float:left;
	position: relative;
	padding-left:10px;
	text-align:left;
	width: 40%;
	height: 70px;
}

#logo h1 {
	text-align:center;
}

#logo h1 a {
	font-color:navy;
	color:blue;
	text-align:center;
}

#logo h2 {
	color:blue;
	margin-right:75px;
}

#support {
	font-color:white;
	color:white;
	font-size: 24; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;	
}

#support a {
	font-color:white;
	color:white;
	font-size: 36; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;	
}

#right_hdr {
	float:right;
	top:0px;
	width: 50%;
	height: 80px;
}

#right_hdr h1 {
	font-size: 36; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
	text-align:right;
	padding-top:5px;
	_padding-top:0px;
}

#logindata {
	position:relative;
	right:1em;
	top:40px;
	text-align:right;
	width:100%
	color: blue;
	font-weight:bold;
	font-size:14px;
}

#logindata a {
	color: blue;
}

.headerA h1 {
	font-size: 24; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

.headerC {
	top:80px; 	
	background: #BBD9EE;
	height: 40px;
}

.headerD {
	background: #ffffff;	
	z-index: 1;
	height: 2px;
	_height: 10px;
}

/*--------------------------------------NAVBAR---------------------------------*/

.navBar {
	width: 100%;
	z-index: 20;
	margin:0px;
	padding:0px;
	background-color: #002EEB;
	text-align:left;
}

/*----------------------------contents--------------------------------------------*/
#contents{
	background-color: white;
	min-height: 495px; 
	clear: both;
	padding-bottom:5px;
	text-align:left;
}
.caption {
	background:#002EEB;
	height:28px;
	border:1px solid #D3D3D4;
	font-size:13px;
	color:white;
}
.caption_out {
	background:#28B5E3;
	height:30px;
	border:1px solid #28B5E3;
	color:white;
}

.winbutton {
	background:white;
	color:#002EEB;
	margin-top:5px;
	width:1em;
	text-align:center;
}
/*------------------------------A-------------------------------------------------*/
a {
	text-decoration: none;
/*	color: #000888; */
	color: #0000FF;
	font-weight: bold;
}
a:link,
a:visited {
/*	color:#000888; */
	color: #0000FF; 
	font-weight: bold;
}
a:hover,
a:active {
/*	color: #FF9834; */
	color: #0000FF; 
	font-weight: bold;
}
a:visited {
	color:#0000FF;
	font-weight:bold;
}

/*----------------------------------drop down menu------------------------------*/
#drop_down_menu	{
	list-style-type: none;
	z-index: 21;
	background-color: #002EEB;
	height: 22px;
	text-align:left;
}

#drop_down_menu a	{
	font-weight: bold;
	color: #FFFFFF;
}
#drop_down_menu li	{
	float: left;
	display: inline;
	position: relative;
	height: 17px;
	width: 120px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	z-index:99;
	height: 22px;
	padding-right: 2px;
}

#drop_down_menu li span {
	display: block;
	height: 22px;
	padding-top: 2px;
	font-size:14px;
	border-right:1px solid white;
}

#drop_down_menu li:hover	{
	background-color:#168CE7; 
/*	border-bottom: 6px solid #ff9834; */
}
#drop_down_menu li.first	{
}

#drop_down_menu li.last	{
	width: 125px;
	
}
#drop_down_menu li ul	{
		display: none;
		position: absolute;
		top: 24px;
/*		right: -3px; */
		width: 120%;
		padding:0px;
		margin:0px;
}
#drop_down_menu li:hover ul	{
		display: block;
}
#drop_down_menu li ul li	{
			margin: 0;
			border-bottom: 1px solid #04A3D7;
			border-top: 1px solid #7DD5F0;
			font-weight: bold;
			width: 100%;
			height: 20px;
			line-height: 20px;
			background-color: #002EEB;
			background-image: none;
}

#drop_down_menu li ul li:hover	{
				background-color: #04A3D7;
				color: #ffffff;
			/*	border: 1px solid white; */
				border-bottom: 1px solid #04A3D7;
				border-top: 1px solid #1798BF;
}
#drop_down_menu li ul li:hover a	{
			/*	color: #ff9834; */
}

/*-------------- Compass nav bar ------------------------*/
#compassnav {
	list-style:none;
}

#compassnav a	{
	font-weight: bold;
	color: #FFFFFF;
}
#compassnav li	{
	float: left;
	display: inline;
	position: relative;
/*	background: #00B7E3; */
	background: #002EEB;
/*	background: #0086FF; */
	padding-top: 3px;
	height: 17px;
	width: 110px;
	margin-right: 5px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	z-index:99;
/*	border-bottom: 6px solid #000888; */
}


/*----------------------------------------copy----------------------------------------*/

.sinv {
	display:none;
	width:50%;
	float:left;
}

.lefthalf {
	width:40%;
	position:absolute;
	right:15%;
	height:500px;
	z-index:0;
/*	border:1px solid; */
}

.lefthalf2 {
	width:40%;
	position:absolute;
	right:2%;
	height:500px;
	z-index:0;
/*	border:1px solid; */
}

.righthalf {
	width:40%;
	position:absolute;
	right:58%;
	height:500px;
	padding-right:10px;
	z-index:0;
/*	border:1px solid; */
}

.righthalf1 {
	float:left;
	width:45%;
	padding-left:10px;
	z-index:0;
/*	border:1px solid; */
}
.lefthalf1 {
	float:left;
	margin-left:10px;
	width:45%;
	z-index:0;
}

.innercontent {
	float:left;
	padding-left:10px;
	width:95%;
	margin-top:10px;
}
.defbottom {
	width:100%;
	position:absolute;
	text-align:center;
	top:510px;
/*	bottom:50px; */
/*	border:1px solid; */
}

.copyright {
	margin-top:5px;
	background: #F3F4F4;	
}

.innercopyright {
	float:left;
	margin-bottom:5px;
	padding-right:5px;
}

.accttbl {
	float:left;
	width:630px;
}

.accttype {
	float:right;
	margin-right:20px;
	width:160px;
}

.brdr1 {
	border:1px solid;
	width:auto;
}

.formtbl, .formtbl td
{
/*	background-color: #F0F0F0; */
	background-color: #E5EDF5;
}


td .shortcut a {
	color:#FFFFFF;
}

table { 
	font-size: 14px; 
	font-family: arial, sans-serif;
	border-collapse:collapse;
}
table.std { font-size: 14px; font-family: arial, sans-serif}
td.std {font-size: 14px; font-family: arial, sans-serif}
tr.tblhead { 
 font-family: Arial,Verdana; 
 color: white;
 font-size:12px;
 font-weight:bold;
 background-color: #002EEB;
}
tr.tblhead1 {
 font-family: Arial,Verdana; 
 color: black;
 font-weight:bold;
 background-color: navy;
}
.tblhead1, .tblhead1 td {
 font-family: Arial,Verdana; 
 color: black;
 font-weight:bold;
 background-color: #E0E0E0;
}

.tblheadprt, .tblheadprt td, .tblheadprt tr {
	 font-family: Arial,Verdana; 
	 font-size:18px;
	 color: black;
	 font-weight:bold;
	 background-color: #E0E0E0;
}

tr.tblhead td {
	 font-family: Arial,Verdana; 
	 font-size:14px;
	 color: white;
	 font-weight:bold;
	 background-color: #002EEB;
	 border-top:1px solid;
	 border-bottom:2px solid;
}

tr.tblheadprt td {
	 font-family: Arial,Verdana; 
	 font-size:18px;
	 color: black;
	 font-weight:bold;
	 background-color: #E0E0E0;
	 border-top:1px solid;
	 border-bottom:2px solid;
}

tr.tblhead td a {
	font-family: Arial,Verdana;
	font-size:14px;
	color:white;
	font-weight:bold:
	text-decoration:underline;
}

tr.otherline {
	background-color: #E5EDF5;
}

.hovertbl tr:hover {
	background-color:#C0C0C0;
}

.hovertbl1 tr {
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #07B6E4;
}

.hovertbl1 tr:hover {
	background-color:#C0C0C0;
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #07B6E4;
}

.printtbl {
	font-size:16px;
	border-bottom: 1px solid;
}

.sumline, .sumline tr {
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;
	border-top:2px solid #002EEB;
	border-bottom:2px solid #002EEB;		
}

.sumlineprt, .sumlineprt tr {
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;	
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

tr.sumline td {
	border-top:2px solid #002EEB;
	border-bottom:2px solid #002EEB;		
}

tr.sumlineprt td {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
	
.repbottom {
	margin-right:5%;
	margin-top:10px;
}

.text1 { font-size:10px; font-family: arial, sans-serif}
.text2 { font-size:11px; font-family: arial, sans-serif}
.text3 { font-size:14px; font-family: arial, sans-serif}
.text4 { font-size:16px; font-family: arial, sans-serif}
/*styles for printing documents*/
table.blau {border: 2px solid #3550FF;  width: 90%;}
table.printdoc {border: 1px solid #000000; border-collapse: collapse;}
td.print1 {font-weight: bold;  background-color: #E5E5E5;}
td.print0 {border: 0px solid #FFFFFF;}
td.bolder {font-weight: bold;}
/*end documents*/

/* Calendar styles */
table.caltbl {
	border:1px solid;
}

td.caltbl {
	border:1px solid;
}

/* main page styles */
.dateform {
	position:relative;
	left:5px;
	top:10px;
	height:50px;
	width:900px;
	background-color: #E5EDF5;
}

.maincontents {
	position:relative;
	width:900px;
	left:5px;
}

.spacerdiv {
	float:left;
	width:10px;
}

.maindiv {
	float:left;
	margin-top:15px;
	width:250px;
	background-color: #F7F7F7;
	padding-bottom:1em;
	min-height:370px;
}

.maindiv table {
	margin:1em;
}

.maindiv td {
	border-bottom: 1px solid #d9d9d9;
	height: 28px;
}

.caldiv {
	float:left;
	margin-top:15px;
	width:260px;
	background-color: #F7F7F7;
	padding-bottom:1em;
	min-height:370px;
}

.shortsdiv {
	float:left;
	margin-top:15px;
	width:370px;
	background-color: #F7F7F7;
	padding-bottom:1em;
	min-height:370px;
}

.sysmsg {
	float:left;
	width:100%;
}

.shortcut {
	float:left;
	font-size: 14px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	background:#002EEB;
	height:30px;
	border:2px solid #D3D3D4;
	-moz-border-radius:15px;
	color:white;
	padding-left:3px;
	padding-top:10px;
	margin:5px;
	width:100px;
	text-align:center;
	vertical-align : middle;
}

.emptyshortcut {
	float:left;
	height:30px;
	color:white;
	background:white;
	padding-left:3px;
	padding-top:10px;
	margin:5px;
	width:100px;
}

.shortsdiv .shortcut a {
	color:white;
}

a.shortcut {
	color:white;
}
