/* Styles for YAWIKI system */
/*
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
*/

.para {
	display:none;
	padding:10px;
	border:1px solid #FF0000;
/*	-moz-border-radius: 12px; */
}

#cmds {
	display:none;
	direction:rtl;
	text-align:right;
	border:1px solid #FF0000;
/*	-moz-border-radius:10px; */
}

.cmdtbl {
	display:table-row;
}

.cmditem {
	background:#F3F8FF;
/*	border:0px solid; */
	display:table-cell;
	padding-left:4px;
	padding-right:4px;
/*	-moz-border-radius: 10px; */
}

.cmditem a {
	text-decoration:none
}

.cmdspace {
	display:table-cell;
	padding-left:4px;
	padding-right:4px;
}

/* 
h1 {
font-size:130%;
font-weight:bold;
text-align:right;
color:#003366;
}

h2 {
font-size:120%;
font-weight:bold;
text-align:right;
color:#009966;
}

h3 {
font-size:110%;
font-weight:bold;
text-align:right;
color:#009966;
}
*/

/*
h1 {font-size:24px; font-weight:bold; font-family: arial, sans-serif; color: black; }
h2 {font-size:18px; font-weight:bold; font-family: arial, sans-serif; color: black}
h3 {font-size:18px; font-weight:bold; font-family: arial, sans-serif; color: black} */

h4 {font-size:16px; font-family: arial, sans-serif; color:navy}
a:visited {color:blue; font-family:arial, sans-serif}
a:link {color:blue; font-family:arial, sans-serif; }
/* a:hover {color:red;} */
a:hover {text-decoration:underline}
a {text-decoration:none}
.text1 { font-size:14px; font-family: arial, sans-serif}
.text2 { font-size:16px; font-family: arial, sans-serif}
.text3 { font-size:18px; font-family: arial, sans-serif;}
.ctext { font-size:14px; font-family: courier; direction:ltr; text-align:left; background:#E8E8E8}
.lighttext { font-size: 12px; font-family: arial, sans-serif; color:gray }
table {font-size:14px; font-family: arial, sans-serif}
td.item {background:url(button.gif); width:146px; text-align: center; height:48px; font-size:14px ;font-family:arial, sans-serif;color:white }
p {
	font-family:arial, sans-serif;
	font-size:14px;
}

#contents ul {
	margin-left:17px;
	margin-right:17px;
	font-size:14px;
}

