<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<link rel=\"stylesheet\" type=\"text/css\" href=\"style/documenet.css\" />
<title>~title~</title>
~head~
</head>
<body dir="rtl">

	~header~		
	<table style="text-align:right;">
		<tr>
			<td colspan="3" width="650">
			<h7>~companyname~</h7><br />
			~address~<br />
			~phones~<br />
			~web~<br />
			ח.פ/ע.מ:~regnum~<br />
			</td>
			
			<td>
			~logo~
			</td>
		</tr>
	</table>
	<hr />
	<table>	
		<tr>
			<td width="50" style="text-align:top;">לכבוד:</td>
			<td width="600" >~docs:company~</td>
			<td width="150" >תאריך הפקת מסמך:</td>
			<td>~docs:issue_date~</td>
		</tr>
		
		<tr>
			<td></td>
			<td>~docs:address~</td>
			<td>תאריך אחרון לתשלום :</td>
			<td>~docs:due_date~</td>
		</tr>
		<tr>
			<td></td>
			<td>~docs:city~ ~docs:zip~</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>ח.פ/ע.מ:~docs:vatnum~</td>
			<td></td>
			<td></td>
		</tr>
			
		<tr>
			<td colspan="4">
				<div align="center"><h1>~doctype~ <span style="font-size:25px;"> מס' ~docnum~ </span>~copy~</h1></div>
			</td>
		</tr>
	</table>
	<div class="table">
		<div class="hrow row">
		  	<div class="rhdata" style="width:370px;">תיאור</div>
		  	<div class="rhdata" style="width:60px;">כמות</div>
		  	<div class="rhdata" style="width:60px;">מחיר</div>
		  	<div class="rhdata" style="width:60px;">סה"כ</div>
		</div>
		
		~docdet~
		<div class="frow row">
		  	<div class="rdata clear"></div>
		  	<div class="rdata clear"></div>
			<div class="rdata clear">סה"כ חייב מע"מ</div>
		  	<div class="rdata">~docs:sub_total~</div>
		</div>
		<div class="frow row">
		  	<div class="rdata clear"></div>
		  	<div class="rdata clear"></div>
			<div class="rdata clear">סה"כ פטור ממע"מ</div>
		  	<div class="rdata">~docs:novat_total~</div>
		</div>
		<div class="frow row">
		  	<div class="rdata clear"></div>
		  	<div class="rdata clear"></div>
			<div class="rdata clear">מע"מ</div>
		  	<div class="rdata">~docs:vat~</div>
		</div>
		<div class="frow row">
		  	<div class="rdata clear"></div>
		  	<div class="rdata clear"></div>
			<div class="rdata clear">סה"כ לתשלום</div>
		  	<div class="rdata">~docs:total~</div>
		</div>		
	</div>
				

				<!--
							<div align="right">
							מוצרים שסופקו/יסופקו ללקוח נשארים בבעלות ארי בן חור- מחשוב מהיר עד לפירעון מלא של החשבון.<br />
							תנאי תשלום:העברה בנקאית או המחאה לפירעון תוך 30 יום מיום הפקת חשבונית.<br />
							מחשוב מהיר זכאית להפיק חשבונית עם סיום העבודה/אספקת המוצרים.<br />
							</div>
						-->
			<br />
		הערות: ~docs:comments~
	~footer~
</body>
</html>
