<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

<link rel="stylesheet" type="text/css" href="style/drorit.css" >
<link rel="stylesheet" type="text/css" href="style/yawiki.css" >
<title>~title~</title>
<!--~head~-->
</head>
<body dir="rtl">
	<div>
		~logo~
		<br>
		~header~
	</div>
	<div>
		<div>
			~company~<br>
			~address~<br>
			~city~ ~zip~<br>
			~phone~&nbsp;
			~cellular~<br>
			~dealer~: ~regnum~<br>
		</div>
		<table>
			<tr>
				<td><br><h1>~doctype~ מספר ~docnum~</h1><br></td>
				<td><h1>~copy~</h1></td>
			</tr>
		</table>
	</div>
	<div>
		<div>
			<table>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>לכבוד: </td>
					<td>~docs:company~</td>
					<td>תאריך: </td>
					<td>~docs:issue_date~</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>~docs:address~</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>~docs:city~ &nbsp; ~docs:zip~
					עוסק: ~docs:vatnum~
					</td>
					<td>~docs:refnum~</td>
				</tr>
				<tr>
					<td>
					<br><br><br><br>
						<div align=center width=100% border=5>
							<table width=80% dir="rtl" border=1>
								<tr>
									<td>תיאור</td>
									<td>כמות</td>
									<td>מחיר</td>
									<td>סה"כ</td>
								</tr>
								<tr>
									<td>~docdetails:description:1~</td>
									<td>~docdetails:qty:1~</td>
									<td>~docdetails:unit_price:1~</td>
									<td>~docdetails:price:1~</td>
								</tr>
								<tr>
									<td>~docdetails:description:2~</td>
									<td>~docdetails:qty:2~</td>
									<td>~docdetails:unit_price:2~</td>
									<td>~docdetails:price:2~</td>
								</tr>
								<tr>
									<td>~docdetails:description:3~</td>
									<td>~docdetails:qty:3~</td>
									<td>~docdetails:unit_price:3~</td>
									<td>~docdetails:price:3~</td>
								</tr>
								<tr>
									<td>~docdetails:description:4~</td>
									<td>~docdetails:qty:4~</td>
									<td>~docdetails:unit_price:4~</td>
									<td>~docdetails:price:4~</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;<br></td>
								<td>סה"כ חייב מע"מ</td>
								<td>~docs:sub_total~</td>
								</tr><tr>
								<td>לתשלום עד: ~docs:due_date~</td>
								<td>סה"כ פטור ממע"מ</td>
								<td>~docs:novat_total~</td>
								</tr><tr>
								<td>&nbsp;</td>
								</tr><tr>
								<td>~docs:comments~</td>
								<td>מע"מ: </td>
								<td>~docs:vat~</td>
								</tr><tr>
								<td>&nbsp;</td>
								<td>סה"כ לתשלום: </td>
								<td>~docs:total~</td>
								</tr>
							</table>
						</div>
						<br>
					</td>
				</tr>
				<tr>
					<td>
					~footer~
					</td>
				</tr>
			</table>
		</div>
	<br><br><br><br>
	<h2>חתימת העוסק: __________________</h2>

	</div>
	<a href="tmp/bla.pdf">Print</a>
</body>
</html>





